### Activity 1
1 -Create the connection between SQL and Python and extract all the information from the loan table where the status is either A or B.



2 -Use the executable class to run the query/queries. You can test the query/queries in SequelPro or Workbench and then use them with Python.

In [1]:
! pip install sqlalchemy
! pip install PyMySQL

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: PyMySQL in /opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [2]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import getpass  # to get the password without showing the input
password = getpass.getpass()

········

In [3]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)

In [13]:
data1 = engine.execute("""
    SELECT * FROM loan
    WHERE status = 'A' or status = 'B'
""")

# How to display it?
rows = [row for row in data1]
data1_df = pd.DataFrame(rows)
# data1_df = data1_df.drop('status_description')
data1_df

,loan_id,account_id,date,amount,duration,payments,status,status_description
0,5314,1787,930705,96396,12,8033.0,B,Defaulter - Contract Finished
1,5316,1801,930711,165960,36,4610.0,A,Good - Contract Finished
2,6863,9188,930728,127080,60,2118.0,A,Good - Contract Finished
3,5325,1843,930803,105804,36,2939.0,A,Good - Contract Finished
4,7240,11013,930906,274740,60,4579.0,A,Good - Contract Finished
...,...,...,...,...,...,...,...,...
229,5651,3329,971208,19248,12,1604.0,A,Good - Contract Finished
230,4962,25,971208,30276,12,2523.0,A,Good - Contract Finished
231,7199,10789,971209,45768,12,3814.0,A,Good - Contract Finished
232,6727,8505,971210,42840,12,3570.0,A,Good - Contract Finished
233,6059,5196,971228,79824,12,6652.0,A,Good - Contract Finished

### Activity 2
Pick any two queries from the queries that we have written so far and execute them in Python. The objective is to retrieve the data into a dataframe.

In [16]:
# # Use the transactions table in the bank database to find the Top 20 account_ids based on the amount.
# data2 = engine.execute("""
#     select trans_id, type, amount,
#     rank() over(partition by type order by amount desc) as ranking
#     from trans;
# """)

# rows = [row for row in data2]
# data2_df = pd.DataFrame(rows)
# data2_df

### Activity 3
How many new columns have been created?

Answer: Only one, the row ID/ Row number

### Activity 4

1) Understand the confusion matrix. Discuss the type 1 and 2 errors. Which one are we making? Which one is worse in our scenario?

In [18]:
# 1) Split Data in train and test data
y = data1_df['status']
X = data1_df.drop(['status', 'status_description'], axis = 1)

X

     loan_id  account_id    date  amount  duration  payments
0       5314        1787  930705   96396        12    8033.0
1       5316        1801  930711  165960        36    4610.0
2       6863        9188  930728  127080        60    2118.0
3       5325        1843  930803  105804        36    2939.0
4       7240       11013  930906  274740        60    4579.0
..       ...         ...     ...     ...       ...       ...
229     5651        3329  971208   19248        12    1604.0
230     4962          25  971208   30276        12    2523.0
231     7199       10789  971209   45768        12    3814.0
232     6727        8505  971210   42840        12    3570.0
233     6059        5196  971228   79824        12    6652.0

[234 rows x 6 columns]

In [ ]:
# Normally, you would now get dummies to encode categoricals

# X = pd.get_dummies(X, columns=['type', 'operation', 'k_symbol'])
# X

In [21]:
# Now, split DataSet
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
# Create a LogReg instance

log_reg = LogisticRegression(random_state=42)

In [24]:
# Now train the model
log_reg = LogisticRegression(random_state=42)
log_reg.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [26]:
#Let's get some predictions
predictions = log_reg.predict(X_test)
predictions

array(['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A',
       'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A'], dtype=object)

In [27]:
# Let's see how many As an Bs are there
pd.Series(predictions).value_counts()

A    47
dtype: int64

In [28]:
# How to check the probability of being A vs of Being B
predictions_ = log_reg.predict_proba(X_test)
predictions_

array([[0.86596664, 0.13403336],
       [0.93190147, 0.06809853],
       [0.89997716, 0.10002284],
       [0.87006494, 0.12993506],
       [0.68971254, 0.31028746],
       [0.92586101, 0.07413899],
       [0.92736904, 0.07263096],
       [0.91489466, 0.08510534],
       [0.92948025, 0.07051975],
       [0.93115814, 0.06884186],
       [0.93940495, 0.06059505],
       [0.81467561, 0.18532439],
       [0.87581894, 0.12418106],
       [0.84895077, 0.15104923],
       [0.84900633, 0.15099367],
       [0.83475988, 0.16524012],
       [0.9382645 , 0.0617355 ],
       [0.92001664, 0.07998336],
       [0.91659777, 0.08340223],
       [0.92509744, 0.07490256],
       [0.92171523, 0.07828477],
       [0.95827895, 0.04172105],
       [0.91502614, 0.08497386],
       [0.92358159, 0.07641841],
       [0.88483187, 0.11516813],
       [0.84593765, 0.15406235],
       [0.93779535, 0.06220465],
       [0.87254054, 0.12745946],
       [0.91905818, 0.08094182],
       [0.92282195, 0.07717805],
       [0.92760104, 0.07239896],
       [0.55802951, 0.44197049],
       [0.93654775, 0.06345225],
       [0.86973275, 0.13026725],
       [0.8505889 , 0.1494111 ],
       [0.84126943, 0.15873057],
       [0.69877812, 0.30122188],
       [0.81200361, 0.18799639],
       [0.81265493, 0.18734507],
       [0.91649311, 0.08350689],
       [0.90814193, 0.09185807],
       [0.85796642, 0.14203358],
       [0.8977132 , 0.1022868 ],
       [0.94269887, 0.05730113],
       [0.91015237, 0.08984763],
       [0.89684238, 0.10315762],
       [0.83076237, 0.16923763]])

In [34]:
# Confusion Matrix
# It tells us how good the model is.
# Divided in 4 sections if we're trying to predict 2 values, in 9 sections if we're trying to predict 3 values, etc
confusion_matrix(y_test, predictions)

array([[41,  0],
       [ 6,  0]])

In [36]:
# Type 1 Error:
    # False Positive - when the model detects A, but it should have been B. For example, Fire alarm giving a false alarm.
# Type 2 Error:
    # False Negative - when the model detects B, but it should have been A. I.e, a false negative covid test.
    
    
# We are having a False negative error, meaning there are 6 B's that should have been A's.

Try normalize : {'true', 'pred', 'all'}, default=None. Normalizes confusion matrix over the true (rows), predicted (columns) conditions or all the population.

In [42]:
confusion_matrix(y_test, predictions, normalize='all')
# confusion_matrix(y_test, predictions, normalize='pred')
# confusion_matrix(y_test, predictions, normalize='true')

array([[0.87234043, 0.        ],
       [0.12765957, 0.        ]])